.modal-container {
  background-color: rgb(17 24 39);
  color: white;
}

.modal-title {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contents {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}

.modal-buttons {
  padding: 1px;
  display: flex;
  justify-content: space-between;
}
